body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
}

.header {
	width: 98%;
	height: 60px;
	background-color: black;
	border-radius: 12px;
}

/* Logo and Name */
.logo {
	color: white;
	font-size: 24px;
	font-family: 'Orbitron', sans-serif;
	display: inline;
	margin: 10px;
    padding: 10px;
    border: 0px solid black;
	float: left;
}


/* Navigation Bar */
.navbar {
	font-size: 12px;
	color: white;
    list-style: none;
	margin: 10px;
    padding: 10px;
    border: 0px solid black;
	text-align: center;
	float: right;
}
ul.navbar li {
	display: inline;
    text-align: center;
    padding: 10px;
    
}

/* Links and URL's */
a {
	color: white;
}
a:hover {
	font-weight: bold;
	text-decoration: none;	
}
a:active {
	text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}